<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />

    <script
      defer
      src="https://use.fontawesome.com/releases/v5.0.7/js/all.js"
    ></script>
    <title>Major Project</title>
  </head>

  <body>
    <!-- Profiles -->
    <div class="profiles">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <h3 class="display-4 text-center">Exploring Possibilities</h3>
            <p class="lead text-center">Connecting People.....</p>

            <!-- Profile Item -->

            <div class="row">
              <div class="friend_request">
                <div class="req_list" *ngFor="let req of reqSentUsers; let i = index">
                  <div class="req_people">
                    <div class="req_img">
                      <img
                        src="https://ptetutorials.com/images/user-profile.png"
                        alt=""
                      />
                    </div>
                    <div class="req_ib">
                      <h5>{{ req.firstName + " " + req.lastName }}</h5>
                      <p>
                        <button class="btn  btn-outline-warning " (click)="reject(recentRequests[i])">
                          Reject
                        </button>
                        <button class="btn  btn-outline-primary mr-4" (click)="accept(req.userId,recentRequests[i])">
                          Accept
                        </button>
                      </p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <script
      src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
      integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
      integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
      integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
<br />
