<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Document</title>
  </head>
  <body>
    <div class="container">
      <br /><br /><br /><br /><br />

      <div align="center">
        <h1>
          Welcome to Circle
        </h1>
      </div>

      <br /><br /><br /><br /><br /><br /><br /><br /><br /><br />

      <div class="row">
        <div class="col-md-4"></div>

        <div class="col-md-5">
          <form class="form-group">
            <a type="submit" class="btn btn-outline-primary" href="login"
              >login</a
            >&nbsp;&nbsp;

          
            <a type="submit" class="btn btn-outline-primary" href="register"
            >SignUp</a
          >
            <!-- <p>
              <span style="color:blueviolet">Dont have Account?</span>&nbsp;<a
                href="register"
                >SignUp Here</a
              >
            </p> -->
          </form>
        </div>

        <!-- <div class="col-md-6">
  
  <img src="../../../assets/images/home.jpg" width="500px" height="500px"/>
  
  </div> -->
      </div>

      <div align="center">
        <footer class="myfooter">
          All rights are reserved by @circle.
        </footer>
      </div>
    </div>
  </body>
</html>
