body {
  background-image: url("../../../assets/Purple-Gradient-Laptop-Background.jpg");
  /* The image used */

  background-color: #cccccc; /* Used if the image is unavailable */

  height: 800px;
  /* You must set a specified height */

  background-position: center; /* Center the image */

  background-repeat: no-repeat; /* Do not repeat the image */

  background-size: cover; /*Resize the background image to cover the entire container */
}

h1 {
  color: rgb(135, 132, 199);
}

p {
  color: rgb(55, 52, 114);
}
