<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
</head>
<body>
  
<div id="login" class="well">
<br/><br/>
  <div class="container">
    <div id="login-row" class="row justify-content-center align-items-center">
      <div id="login-column" class="col-md-6">
        <div id="login-box" class="col-md-12">
            <h3 class=" text-info">Login Here</h3><br/>
          <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
            <div class="form-group">
              <input
                type="email"
                class="form-control form-control-lg"
                formControlName="email"
                id="email"
                placeholder="Email Address"
                name="email"
              />

              <div
                *ngIf="submitted && loginForm.controls.email.errors"
                class="error"
              >
                <div
                  class="text-danger"
                  *ngIf="loginForm.controls.email.errors.required"
                >
                  Email is required ..
                </div>

                <div
                  class="text-danger"
                  *ngIf="loginForm.controls.email.errors.pattern"
                >
                  Enter a valid email id
                </div>
              </div>

              <br />

              <input
                type="password"
                class="form-control form-control-lg"
                formControlName="password"
                id="password"
                placeholder="Password"
                name="password"
              />

              <div
                *ngIf="submitted && loginForm.controls.password.errors"
                class="error"
              >
                <div
                  class="text-danger"
                  *ngIf="loginForm.controls.password.errors.required"
                >
                  Password is required ..
                </div>
              </div>

              <br />
            </div>

            <button type="submit" class="btn btn-info btn-block mt-4">
              Submit
            </button>

            {{ loginResponse.email }}
            {{ loginResponse.password }}

           
          </form>
        </div>
      </div>
    </div>
  </div>
</div> 
</body>
 </html>
